<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302292436063-thr1nr26rji259fl8uonoq4r1vbe7jqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302292436063-thr1nr26rji259fl8uonoq4r1vbe7jqh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>302292436063-q7peu4n1mos0qvr6t06unsd34njh7jtn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkJLyOTbLHo0BVQNY01M4NVyoDZKPRFc0</string>
	<key>GCM_SENDER_ID</key>
	<string>302292436063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.shahednoor.ieltscat</string>
	<key>PROJECT_ID</key>
	<string>ielts-cat-shahednoor</string>
	<key>STORAGE_BUCKET</key>
	<string>ielts-cat-shahednoor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302292436063:ios:4a5bc1165f72ce2c0747ea</string>
</dict>
</plist>